<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand hanasft-title"
        [routerLink]="['/landing']"
        placement="bottom"
        tooltip="Designed and Coded by "
      >
        HANASOFT
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> • </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="#"
            placement="bottom"
            target="_blank"
            tooltip="Go to Home Page"
          >
            <i class="fas fa-home"> </i>
            <p class="d-lg-none d-xl-none">Home</p>
          </a>
        </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://github.com/creativetimofficial/blk-design-system-angular/issues"
        >
          About us
        </a>
      </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://github.com/creativetimofficial/blk-design-system-angular/issues"
      >
        Services
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://github.com/creativetimofficial/blk-design-system-angular/issues"
      >
        Analytics
      </a>
    </li>
  <li class="nav-item">
    <a
      class="nav-link"
      href="https://github.com/creativetimofficial/blk-design-system-angular/issues"
    >
      Contact us
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      href="https://github.com/creativetimofficial/blk-design-system-angular/issues"
    >
      Current Openigns
    </a>
  </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header">
    <img class="path" src="assets/img/blob.png" />

    <img class="path2" src="assets/img/path2.png" />

    <img class="shapes triangle" src="assets/img/triunghiuri.png" />

    <img class="shapes wave" src="assets/img/waves.png" />

    <img class="shapes squares" src="assets/img/patrat.png" />

    <img class="shapes circle" src="assets/img/cercuri.png" />

    <div class="content-center title-division">
      <div
        class="row row-grid justify-content-between align-items-center text-left"
      >
        <div class="col-lg-6 col-md-6 align-items-center">
          <div class="align-hs">
            <h1 class="text-white title-hs">
              Welcome To <br />
  
              <span class="hs-text"> HANASOFT </span>
            </h1>
          </div>
          
          <br /> 
          <p class="text-white hs-body">
            HANASOFT Solutions is a fast growing technology, IT consulting services and Innovation company focused on leveraging technology and innovations to drive business value.
          </p>
        </div>
      </div>
    </div>
  </div>
  <section class="section section-lg">
    <section class="section">
      <img class="path" src="assets/img/path4.png" />

      <div class="container">
        <div class="row row-grid justify-content-between">
          <div class="col-md-5 mt-lg-5">
            <div class="row">
              <h1 class="text-white">
                Why To Choose <br />
    
                <span class=""> HANASOFT </span>
              </h1>
              <br /> 
              <p class="text-white hs-body1">
                HANASOFT Solutions is a fast growing technology,
                IT consulting services and Innovation company focused on leveraging technology and innovations to drive business value.
              </p>
              <br />
              <p class="text-white hs-body1">
                We are powered by a talented IT and consulting professionals in S/4HANA, HANA, SAP Enterprise, BW on HANA, EDW, Big Data, Financials, 
                Customer Relationship Management, Supply Chain Management, Human Resources and Web development amongst other capabilities.
              </p>

            </div>
            
          </div>
          <div class="col-md-6">
            <div class="pl-md-5">
              bulb image
            </div>
          </div>
        </div>
      </div>

      <br /> <br /> <br />
      <div class="container mt-lg-5">
        <div class="row row-grid justify-content-between">
          <div class="col-md-6">
            <div class="pl-md-5">
              people image
            </div>
          </div>
          <div class="col-md-5 mt-lg-5">
            <div class="row">
              <h1 class="text-white">
                About us
              </h1>
              <br /> 
              <p class="text-white hs-body1">
                HANASOFT Solutions is a fast growing technology, IT consulting services and Innovation.
              </p>
              <br />
              <p class="text-white hs-body1">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              </p>
            </div>
<br />
            <div class="row mt-lg-5">
              <h1 class="text-white">
                Our Services
              </h1>
              <br /> 
              <p class="text-white hs-body1">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              </p>
            </div>
            
          </div>
         
        </div>
      </div>

      <br />
      <br />
      <br />
      <br />
      <br />

      <div class="container mt-lg-5">
        <div class="row row-grid justify-content-between">
          <div class="col-md-3 mt-lg-5">
            <div class="row">
              <h1 class="text-white">
                IT Services
              </h1>
              <p class="text-white hs-body1">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              </p>
              <br />
            </div>
            
          </div>
          <div class="col-md-3">
            <div class="row">
              <h1 class="text-white">
                Support
              </h1>
              <p class="text-white hs-body1">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              </p>
              <br />
            </div>
          </div>

          <div class="col-md-3">
            <div class="row">
              <h1 class="text-white">
                Workforce Solutions
              </h1>
              <p class="text-white hs-body1">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              </p>
              <br />
            </div>
          </div>
        </div>
      </div>

      <br />
      <br />
      <br />
      <br />
      <br />

      <div class="container mt-lg-5">
        <div class="row row-grid justify-content-between">

          <div class="col-md-6">
            <div class="pl-md-5">
              image
            </div>
          </div>

          <div class="col-md-5 mt-lg-5">
            <div class="row">
              <h1 class="text-white">
                Analytics
              </h1>
              <br /> 
              <p class="text-white hs-body1">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              </p>
              <br />
            </div>

            <div class="row">
              <h1 class="text-white">
                Big Data / Cloud
              </h1>
              <br /> 
              <p class="text-white hs-body1">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type 
                specimen book. It has survived not only five centuries, but also the leap into 
                electronic typesetting, remaining essentially unchanged.
              </p>
              <br />
            </div>
            
          </div>
         
        </div>
      </div>

    </section>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h3 class="title">Stay Connected</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://twitter.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.facebook.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://dribbble.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
        <div class="col-md-2">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link"> Quick </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> About us </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Serivces </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Analytics </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Contact us </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link"> Serivces </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> IT Services </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Support </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Workforce Solutions </a>
            </li>
          </ul>
        </div>

        <div class="col-md-2">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link"> Analytics </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Big Data / Cloud </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> SAP BW, SAP BPC </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> S/4HANA, HANA </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> SAP Business Objects </a>
            </li>
          </ul>
        </div>

        <div class="col-md-2">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link"> Contact us </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> 312.459.3636 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> info@hanasoftinc.com </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> 1755 Park Street, Suite 200 Naperville IL 60563 </a>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </footer>
</div>
